#inputSelector{
    position: relative;
    width: 50%;
    & > select:focus{
        border: none;
    }
}

.buttonsContainer{
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    & > button{
        padding: 10px 5px;
        width: 100%;
        font-size: 15px;
    }
}

#content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styledCard{
    position: relative;
    width: 280px;
    margin: 0 auto;
}

.dragContainer{
    position: absolute;
    top: 0;
    left: -35px;
    cursor: grab;
}

.deleteContainer{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.informationTitle{
    font-weight: 900;
    & > div{
        font-weight: 400;
    }
}

#refresh{
    /* Button style reset */
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 50ms;
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    position: absolute;
    top: 4px;
    left: -32px;
}

#ruta{
    text-align: center;
}